<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--web font-->
    <!-- //web font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- main -->
<div class="agileits-main">
    <div class="agileinfo-row">
        <div class="w3top-nav">
            <div class="w3top-nav-left">
                <h1><a href="index.html">错误！</a></h1>
            </div>
            <div class="w3top-nav-right">
                <ul>
                    <li><a href="index.html" class="active">首页</a></li>
                    <li><a href="#">联系管理员</a></li>
                    <li><a href="#">管理员登录</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="w3layouts-errortext">
            <img src="images/img1.png" alt=""/>
            <h2>对不起，您上传的图片出错了！</h2>
            <p class="w3lstext">出现这种问题可能是您上传的图片没有明显的人脸脸部信息，或者数据库中并没有该条明星信息。第一种请重新选择上传图片，第二种请联系管理员</p>
            <div class="agile-search" style="margin-left: 25%">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="上传图片" style="width: 400px;height: 50px">
                    </div>
                    <button type="submit" class="btn btn-default" style="width: 70px;height: 50px;background-color: #4CAF50;color: white">上传</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //main -->
<!-- copyright -->
<div class="copyright w3-agile">
    <p>Copyright &copy; 2019.星鉴识图 All rights reserved.</p>
</div>
<!-- //copyright -->
</body>
</html>